{
  "extends": [ "standard", "standard-react" ],
  "plugins": [ "standard" ],
  "globals": {
    "localStorage": false,
    "fetch": false
  },
  "rules": {
    "array-bracket-spacing": [ 2, "always" ],
    "object-curly-spacing": [ 2, "always" ],
    "prefer-arrow-callback": [ 2 ],
    "object-shorthand": [ 2, "always" ]
  }
}
