.expose > div:not(.countdown)
  max-width: 1000px
  margin: 0 auto
  padding: 20px 0
  margin-bottom: 40px

  +large()
    padding: 40px 0
    display: flex
    justify-content: space-between
    > article
      margin: 0 20px

  +not-large()
    > article
      margin-bottom: 40px

  > article
    text-align: center
    flex-basis: 33%

    p
      max-width: 500px
      margin: 0 auto

  h3
    margin-top: 20px
    margin-bottom: 5px

.countdown
  max-width: 1000px
  margin: 0 auto
  padding: 30px 0 15px 0

  +not-large()
    font-size: 0.9em

  .clock
    display: flex
    justify-content: center

    > div
      p:first-child
        font-size: 2.8em
        background: rgba(255, 255, 255, 0.3)
        color: white
        margin: 10px
        border-radius: 5px
        min-width: 80px

        +not-large()
          margin: 5px
          min-width: 60px
