.expose > div
  max-width: 1000px
  margin: 0 auto
  padding: 20px 0
  margin-bottom: 40px

  +large()
    padding: 40px 0
    display: flex
    justify-content: space-around

  +not-large()
    > article
      margin-bottom: 40px

  > article
    text-align: center

  h3
    margin-top: 20px
    margin-bottom: 5px
