/* reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end reset CSS */

.hidden {
  opacity: 0;
}

html {
  height: 100%;

}
body {
  font: 16px "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  height: 100%;
}

body.white {
  background-color: #ffffff;
}

body.red {
  background-color: #ff0000;
}

.flex-container {
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  min-height: 100%;

  overflow: hidden;
}

.centered {
  margin: auto;
}

#recipient-header {
  display: block;
  position: relative;
  z-index: 1;

  font-size: 3em;

  -webkit-animation: fade-in 2s 0.5s, fade-to-black 2s 8.5s;
  -moz-animation:    fade-in 2s 0.5s, fade-to-black 2s 8.5s;
  -o-animation:      fade-in 2s 0.5s, fade-to-black 2s 8.5s;
  -ms-animation:     fade-in 2s 0.5s, fade-to-black 2s 8.5s;
  animation:         fade-in 2s 0.5s, fade-to-black 2s 8.5s;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode:    forwards;
  -o-animation-fill-mode:      forwards;
  -ms-animation-fill-mode:     forwards;
  animation-fill-mode:         forwards;
}

#message-intro {
  display: block;
  position: relative;
  z-index: 1;

  font-size: 1em;

  -webkit-animation: fade-in 2s 2.5s, fade-to-black 2s 8.5s;
  -moz-animation:    fade-in 2s 2.5s, fade-to-black 2s 8.5s;
  -o-animation:      fade-in 2s 2.5s, fade-to-black 2s 8.5s;
  -ms-animation:     fade-in 2s 2.5s, fade-to-black 2s 8.5s;
  animation:         fade-in 2s 2.5s, fade-to-black 2s 8.5s;


  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode:    forwards;
  -o-animation-fill-mode:      forwards;
  -ms-animation-fill-mode:     forwards;
  animation-fill-mode:         forwards;
}

#heart-container {
  position: relative;
}

#heart {
  display: block;
  position: relative;
  z-index: -1;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0.625em;

  width: 85%;
  max-width: 320px;

  -webkit-transform: scale(20);
  -moz-transform:    scale(20);
  -o-transform:      scale(20);
  -ms-transform:     scale(20);
  transform:         scale(20);

  -webkit-animation: zoom-out-heart 2s ease-out 7.5s;
  -moz-animation:    zoom-out-heart 2s ease-out 7.5s;
  -o-animation:      zoom-out-heart 2s ease-out 7.5s;
  -ms-animation:     zoom-out-heart 2s ease-out 7.5s;
  animation:         zoom-out-heart 2s ease-out 7.5s;


  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode:    forwards;
  -o-animation-fill-mode:      forwards;
  -ms-animation-fill-mode:     forwards;
  animation-fill-mode:         forwards;
}

#ily {
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  font-size: 4em;
  height: 0em;

  -webkit-animation: fade-in 1s 5.5s;
  -moz-animation:    fade-in 1s 5.5s;
  -o-animation:      fade-in 1s 5.5s;
  -ms-animation:     fade-in 1s 5.5s;
  animation:         fade-in 1s 5.5s;


  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode:    forwards;
  -o-animation-fill-mode:      forwards;
  -ms-animation-fill-mode:     forwards;
  animation-fill-mode:         forwards;
}

#sender-footer {
  display: block;
  position: relative;
  z-index: 1;
  font-size: 1.5em;

  -webkit-animation: fade-in 1s 6.5s, fade-to-black 2s 8.5s;
  -moz-animation:    fade-in 1s 6.5s, fade-to-black 2s 8.5s;
  -o-animation:      fade-in 1s 6.5s, fade-to-black 2s 8.5s;
  -ms-animation:     fade-in 1s 6.5s, fade-to-black 2s 8.5s;
  animation:         fade-in 1s 6.5s, fade-to-black 2s 8.5s;


  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode:    forwards;
  -o-animation-fill-mode:      forwards;
  -ms-animation-fill-mode:     forwards;
  animation-fill-mode:         forwards;
}

a#new {
  display: inline-block;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border: 1px solid;
  padding: 0.375em 0.5em;
  border-radius: 3px;
  margin-top: 2em;

  -webkit-animation: fade-in 1s 9.5s;
  -moz-animation:    fade-in 1s 9.5s;
  -o-animation:      fade-in 1s 9.5s;
  -ms-animation:     fade-in 1s 9.5s;
  animation:         fade-in 1s 9.5s;


  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode:    forwards;
  -o-animation-fill-mode:      forwards;
  -ms-animation-fill-mode:     forwards;
  animation-fill-mode:         forwards;

  -webkit-transition: all 0.25s ease;
  -moz-transition:    all 0.25s ease;
  -o-transition:      all 0.25s ease;
  -ms-transition:     all 0.25s ease;
  transition:         all 0.25s ease;
}

a#new:hover {
  color: rgba(0, 0, 0, 1.0);

  -webkit-animation: fade-in 1s 6.5s, fade-to-black 2s 8.5s;
  -moz-animation:    fade-in 1s 6.5s, fade-to-black 2s 8.5s;
  -o-animation:      fade-in 1s 6.5s, fade-to-black 2s 8.5s;
  -ms-animation:     fade-in 1s 6.5s, fade-to-black 2s 8.5s;
  animation:         fade-in 1s 6.5s, fade-to-black 2s 8.5s;


  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode:    forwards;
  -o-animation-fill-mode:      forwards;
  -ms-animation-fill-mode:     forwards;
  animation-fill-mode:         forwards;
}

a {
  color: inherit;
}

address {
  -webkit-align-items: flex-end;
  -ms-align-items:     flex-end;
  align-items:         flex-end;

  margin-top: 1em;
  margin-bottom: 5px;
  font-size: 0.7em;
  color: #FF9999;
}

address.animated {
  -webkit-animation: fade-to-black 1s 8s;
  -moz-animation:    fade-to-black 1s 8s;
  -o-animation:      fade-to-black 1s 8s;
  -ms-animation:     fade-to-black 1s 8s;
  animation:         fade-to-black 1s 8s;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode:    forwards;
  -o-animation-fill-mode:      forwards;
  -ms-animation-fill-mode:     forwards;
  animation-fill-mode:         forwards;
}

address a {
  color: inherit;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

#new-header {
  margin-bottom: 40px;
}

#link-form, #link-output {
  font-size: 2em;
}

#link-form input {
  font-family: inherit;
  font-size: 1em;
  font-weight: 100;
  text-align: center;
  width: 85%;
  max-width: 500px;
  border: none;
  outline: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 0px;
  background: none;
  color: white;
  margin-bottom: 20px;
}

#link-output input {
  font-family: inherit;
  font-size: 0.7em;
  font-weight: 100;
  text-align: center;
  width: 85%;
  border: none;
  outline: 0;
  background: none;
  color: white;
}

button.new {
  margin-top: 25px;
  padding: 0.375em 0.5em;

  font-family: Roboto, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;

  background: none!important;

  cursor: pointer;

  border: 1px solid;
  border-radius: 3px;

  color: rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease;

}

button.new:hover {
  color: rgba(255, 255, 255, 1.0);
}

::-webkit-input-placeholder {
  color: rgba(255,255,255,0.7);
}

::-moz-placeholder {
  color: rgba(255,255,255,0.7);
}

::-moz-input-placeholder {
  color: rgba(255,255,255,0.7);
}

::-o-input-placeholder {
  color: rgba(255,255,255,0.7);
}

::-ms-input-placeholder {
  color: rgba(255,255,255,0.7);
}

::input-placeholder {
  color: rgba(255,255,255,0.7);
}

@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes    fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes      fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes     fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes         fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes zoom-out-heart {
  from {  }
  1%  { -webkit-transform: scale(10); }
  to   { -webkit-transform: scale(1); }
}

@-moz-keyframes    zoom-out-heart {
  from {  }
  1%  { -moz-transform: scale(10); }
  to   { -moz-transform: scale(1); }
}

@-o-keyframes      zoom-out-heart {
  from {  }
  1%  { -o-transform: scale(10); }
  to   { -o-transform: scale(1); }
}

@-ms-keyframes         zoom-out-heart {
  from {  }
  1%  { -ms-transform: scale(10); }
  to   { -ms-transform: scale(1);  }
}

@keyframes         zoom-out-heart {
  from {  }
  1%  { transform: scale(10); }
  to   { transform: scale(1);  }
}

@-webkit-keyframes fade-to-black {
  from {  }
  to   { color: #000000; }
}

@-moz-keyframes    fade-to-black {
  from {  }
  to   { color: #000000; }
}

@-o-keyframes      fade-to-black {
  from {  }
  to   { color: #000000; }
}

@-ms-keyframe      fade-to-black {
  from {  }
  to   { color: #000000; }
}

@keyframes         fade-to-black {
  from {  }
  to   { color: #000000; }
}
