.product-selector
  +large()
    display: flex
    justify-content: center

  > .product-item
    padding: 0 20px
    flex-basis: 200px
    padding: 20px 10px
    cursor: pointer

    +not-large()
      display: flex
      padding: 20px
      align-items: center
      border: 1px solid #ccc
      margin-bottom: 10px

      p
        margin-bottom: 0 !important

      aside:first-child
        text-align: left

      aside:last-child
        flex-shrink: 0
        width: 35%

    +large()
      &:not(:last-child)
        border-right: 1px solid alpha(accent, 30%)
