.product-selector
  display: flex
  justify-content: center

  > .product-item
    padding: 0 20px
    flex-basis: 200px
    padding: 20px 10px
    cursor: pointer

    &:not(:last-child)
      border-right: 1px solid alpha(accent, 30%)
