.product-selector
  padding: 30px 0

  > .product-item
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    -webkit-tap-highlight-color: transparent

    .title, .description, .price
      margin-bottom: 10px

    .title
      font-size: 1.4em

    .price
      font-size: 2em

    +large()
      &:first-child
        border-radius: 5px 0 0 5px

      &:last-child
        border-radius: 0 5px 5px 0

    +not-large()
      border-radius: 5px
