.product-selector
  padding: 30px 0

  > .product-item
    .title, .description, .price
      margin-bottom: 10px

    .title
      font-size: 1.4em

    .price
      font-size: 2em

    &:first-child
      border-radius: 5px 0 0 5px

    &:last-child
      border-radius: 0 5px 5px 0
