.knightgrams
  .button
    -webkit-appearance: none
    appearance: none
    border: none
    font: inherit
    background: #eee
    padding: 10px
    border-radius: 5px
    outline: 0
    cursor: pointer
    transition: all 0.2s ease

    &:hover
      transform: scale(1.03)

    &.-primary
      background: accent
      color: white
      font-weight: 300
